<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LOG IN</title>
</head>
<body>

    <form action="/users/login/" method="POST">
        {% csrf_token %}
        <div id="login" class="buttons">
            <img src="{% static 'img/TASK_LOGO.png' %}" alt="logo" width="350">
            <br>
            {{form}}
            <br>
            <button class="button"><span>LOG IN</span></button>
        </div>
    </form>

</body>
</html>



